.Please{
    position: absolute;
    top: 200px;
    background-color: rgba(215, 210, 210, 0.32);
    width: 100vw;
    height: 12vh;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    
}
.Please h2{
    margin-top: 30px;
    color: rgb(2, 85, 130);
}
.sign_in{
    position: absolute;
    top: 60vh;
    left: -5vw;
    background-color: rgb(254, 254, 254);
    width: 70vw;
    height: 50vh;
    font-family:"Work Sans", sans-serif ;
}
.sign_in label{
    position: relative;
    left: 40%;
    top: 50px;
    font-size: 12px;
    color: rgb(119, 118, 118);
    
}
.sign_in input{
    position: relative;
    left: 40%;
    top: 50px;
    margin-bottom: 10px;
    margin-top: 3px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: rgb(0, 95, 133);
    width: 50vw;
    


}
.sign_in p{
    text-decoration: none;
    font-family:"Work Sans", sans-serif ;
    position: relative;
    top: 25%;
    left: 55%;
    color: rgb(79, 78, 78);
}
.sign_in a{
    text-decoration: none;
    color: rgb(3, 186, 199);
}
.sign_in input:focus{
    outline-style: none;
    box-shadow: none;
}
.submit{
    position: relative;
    top: 50px;
    border: solid ;
    background-color: rgb(0, 121, 154);
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.submit:active{
    opacity: 07;
}

